---
const {theme} = Astro.props;
---

<section data-surface={theme} >
   
    <div class="yellow_tag">growing with our clients</div>
    <h2>Our core values & principles</h2>
    <div class="core_top_text">
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
        <button class="black">Get in touch</button>
    </div>
    <div>

    </div>
    <div class="grid_core">
      <div class="card">
        <img src="/src/icons/core1.svg" alt="Icon">
        <h3>Creative Ideas</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam.</p>
        <div class="text_core">
            <h4>Read More</h4>
            <img src="/src/icons/b_arrow.svg" alt="pil">
        </div>
      </div>
      <div class="card">
        <img src="/src/icons/core2.svg" alt="Icon">
        <h3>Best Features</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="text_core">
            <h4>Read More</h4>
            <img src="/src/icons/b_arrow.svg" alt="pil">
        </div>
      </div>
      <div class="card">
        <img src="/src/icons/core3.svg" alt="Icon">
        <h3>Experience</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam..</p>
        <div class="text_core">
            <h4>Read More</h4>
            <img src="/src/icons/b_arrow.svg" alt="pil">
        </div>
      </div>
      <div class="card">
        <img src="/src/icons/core4.svg" alt="Icon">
        <h3>Easy Solutions</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="text_core">
            <h4>Read More</h4>
            <img src="/src/icons/b_arrow.svg" alt="pil">
        </div>
      </div>
    </div>
  </section>

  <style>
@layer components {
    [data-surface="light"] {
  --bg-section: var(--secondary01);
  --bg-card: var(--secondary02);
}

[data-surface="dark"] {
  --bg-section: var(--primary03);
  --text-card: var(--primary03) ;
  --bg-card: var(--secondary01);
  --text-section: var(--secondary02);
  h2{
    color: var(--secondary02);
  }
  button{
        background-color: var(--secondary02);
        color: var(--primary03);
    }

    button:hover{
        background-color: var(--primary01);
    }
}

}

    .core_top_text{
        display: flex;
      justify-content: space-between;
      gap: 10%;
      align-items: center;
      margin-bottom: 4%;
      

      button{
        font-size: 14px;
      }
    }

section {
  background: var(--bg-section);
  color: var(--text-section);
}

.card {
  background: var(--bg-card);
  color: var(--text-card);
}


  h3,
  h4 {
    font: revert;
    margin-block: 0 .35em;
  }

  section {
    padding: 3rem max(2rem, 50% - 800px / 2);
  }
  
  .grid_core {
    display: grid;
    grid: auto / repeat(4, 1fr);
    gap: 1rem;
  }

  .card {
    border-radius: 8px;
    padding: 1.5rem;
    height: fit-content;
    img{
        width: 40px;
        height: 40px;
        margin: 2%;
    }
    .text_core{
        display: flex;
        align-items: center;
        margin-top: 8%;
        img{
        width: 15px;
        height: 15px;
        margin-left: 5%;
        }
    }
 
  }


  </style>