---
import EmployeeCard from "./EmployeeCard.astro";


---

<section class="content">
  <EmployeeCard img="../img/sarah.jpg" name="Sarah Jasmine" title="CEO at Company" description="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
	<EmployeeCard img="../img/john.jpg" name="John Carter" title="Manager" description="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
	<EmployeeCard img="../img/daisy.jpg" name="Daisy Stella" title="CEO at Company" description="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
	<EmployeeCard img="../img/maya.jpg" name="Maya Elizabeth" title="CEO at Company" description="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
	<EmployeeCard img="../img/ryan.png" name="Ryan Jackson" title="CEO at Company" description="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
	<EmployeeCard img="../img/lilly.jpg" name="Lilly Victoria" title="CEO at Company" description="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
</section>

<style>
  @layer components {

    section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 15px;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;

    }


    
  }
</style>
