---
import EmployeeCard from "./EmployeeCard.astro";


---
<section class="top_gallery">
    <div class="yellow_tag">our team</div>
    <h1>We champion the bold to achieve the extraordinary
    </h1>
    <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team.</p>



<section class="gallery">
 <EmployeeCard img="src/assets/images/sarah.jpg" name="Sarah Jasmine" title="CEO at Company" description="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
	<EmployeeCard img="src/assets/images/john.jpg" name="John Carter" title="Manager" description="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
	<EmployeeCard img="src/assets/images/daisy.jpg" name="Daisy Stella" title="CEO at Company" description="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
</section>
</section>

<style>
  @layer components {

        .top_gallery{
            max-width: 1200px;
            margin-top: 5%;
            margin: 0 auto;
            margin-top: 5%;
            padding: 0 15px;
        }

    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 15px;
    }
    
  }
</style>
