--- 

---

<footer>
    <h5>AskExperts</h5>
    <div class="linje_foot"></div>
    <p>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
</footer>

<style>


    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary03);
        color: var(--secondary02);
        padding: 2%;
        gap: 20px;

        .linje_foot{
        width: 1200px;
        height: 1px;
        background-color: white;
    }

    h5{
        color: var(--secondary02);
    }
    }

  

  
</style>